@use '../utils/mixins' as *;
@use '../variables' as *;

.main {
  &__content {
    display: grid;
    padding-block: 92px;

    @include on-tablet {
      padding-block: 120px;
    }

    @include on-desktop {
      padding-block: 144px;
    }
  }
}
